<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools">

  <uses-permission android:name="android.permission.INTERNET" />

  <application
    android:allowBackup="true"
    android:dataExtractionRules="@xml/data_extraction_rules"
    android:fullBackupContent="@xml/backup_rules"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/Theme.CuidandoDeVocê"
    android:usesCleartextTraffic="true"
    tools:targetApi="33">
    <activity
      android:name=".Notificacoes"
      android:exported="false"
      android:screenOrientation="portrait"
      tools:ignore="LockedOrientationActivity" />
    <activity
      android:name=".Suporte"
      android:exported="false"
      android:screenOrientation="portrait"
      tools:ignore="LockedOrientationActivity" />
    <activity
      android:name=".Familia"
      android:exported="false"
      android:screenOrientation="portrait"
      tools:ignore="LockedOrientationActivity" />
    <activity
      android:name=".AgendarConsulta"
      android:exported="false"
      android:screenOrientation="portrait"
      tools:ignore="LockedOrientationActivity" />
    <activity
      android:name=".CadastroMedico"
      android:exported="false"
      android:screenOrientation="portrait"
      tools:ignore="LockedOrientationActivity" />
    <activity
      android:name=".CadastroPaciente"
      android:exported="false"
      android:screenOrientation="portrait"
      tools:ignore="LockedOrientationActivity" />
    <activity
      android:name=".Inicio"
      android:exported="false"
      android:screenOrientation="portrait"
      tools:ignore="LockedOrientationActivity" />
    <activity
      android:name=".MainActivity"
      android:exported="false"
      android:screenOrientation="portrait"
      tools:ignore="LockedOrientationActivity" />
    <activity
      android:name=".SplashScreen"
      android:exported="true"
      android:screenOrientation="portrait"
      tools:ignore="LockedOrientationActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>

</manifest>